@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #523c3c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow,
.MuiDataGrid-footerContainer,
.MuiTablePagination-selectLabel,
.MuiToolbar-root,
.MuiButtonBase-root,
.Mui-disabled
{
  background-color: #512DA8;
  color: #ffc107;
}

.MuiIconButton-root
,.MuiSvgIcon-root

,.MuiSvgIcon-root 
,.MuiSvgIcon-fontSizeMedium 
,.MuiSelect-icon 
,.MuiTablePagination-selectIcon 
,.MuiSelect-iconStandard 
,.css-oatl8s-MuiSvgIcon-root-MuiSelect-icon
{
  color: #856f0c;
}


/* Cambiar color de la secci贸n Columns */
.MuiDataGrid-toolbarContainer button[aria-label="Select columns"] {
  color: #ffc107 !important; /* Cambia el color a tu preferencia */
}

/* Cambiar color de la secci贸n Filters */
.MuiDataGrid-toolbarContainer button[aria-label="Show filters"] {
  color: #ffc107 !important; /* Cambia el color a tu preferencia */
}

/* Cambiar color de la secci贸n Density */
.MuiDataGrid-toolbarContainer button[aria-label="Density"] {
  color: #ffc107 !important; /* Cambia el color a tu preferencia */
}

/* Cambiar color de la secci贸n Export */
.MuiDataGrid-toolbarContainer button[aria-label="Export"] {
  color: #ffc107 !important; /* Cambia el color a tu preferencia */
}



.MuiFormLabel-root{
  color: #be9007 !important; /* Cambia el color a tu preferencia */

}

.MuiDataGrid-toolbarContainer, .css-1xn3edc{
  background-color: #512DA8;

}

